<div class="container">
  <div class="">
    <h3> Hey, <%=@user.username%></h3>
    <div>
      <%= link_to "Edit my profile", edit_user_registration_path(current_user), class: "btn btn-ghost" %>
    </div>
  </div>
</div>
