// Define variables for your color scheme

// Our colors
$light-black: #454545;
$purple: #6432A4;
$white: #DADADA;
$midnight: #0E0E11;

// For example:
$red: #e93d40;
$blue: #05A8AA;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #5DD39E;
$gray: #454545;
$light-gray: #F9f9f9;
