// Define variables for your color scheme

// Our colors
$light-black: #2A2C36;
$purple: #6B28C0;
$white: #DADADA;
$midnight: #0E0E11;
$gray: #b2b2b6;

// For example:
$red: #e93d40;
$blue: #05A8AA;
$yellow: #FFD365;
$orange: #E67E22;
$green: #5DD39E;
$light-gray: #F9f9f9;
