// Specific CSS for your home-page

.home-container {
  display: flex;
  align-items: center;
}

.pages-home {
  background-color: $midnight;
}

.size-min-screen {
  min-height: 100vh;
}

.logo-home {
  width: 200px;
}
