<div class="estimated_time d-flex justify-content-center align-items-center mb-2">
  <p class="m-0">Est. time: </p>
  <i class="fas fa-clock ml-2 mr-1 p-2"></i>
  <p class="m-0"> <%=@estimated_time%></p>
</div>
