<div class="hey d-flex justify-content-center">
  <p class="text-center">Hey <%=@username%>, you have <strong><%=pluralize @nb_tasks, 'task'%></strong> and <br>
  <strong><%=pluralize @nb_habits, 'habit'%></strong> remaining today.</p>
</div>
