<div class="hey d-flex justify-content-center">
  <p class="text-center">Hey <%=@username%>, <strong><%=pluralize @nb_tasks_not_done, 'task'%></strong> and <br>
  <strong><%=pluralize @nb_habits_not_done, 'habit'%></strong> remaining</p>
</div>
