<div class="nav-centrage fixed-bottom">
  <div>
    <%= link_to profile_path do %>
      <%# <i class="fas fa-chart-area bloc-icon icon-color"></i> %>
<script src="https://cdn.lordicon.com/lusqsztk.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/osqwjgzg.json"
    style="width:40px;height:40px">
</lord-icon>
    <% end %>
  </div>
  <div class="add-button-navbar">
    <%= link_to tasks_path, class: "btn add-button" do %>
      <i class="fas fa-home bloc-icon "></i>
    <% end %>
  </div>
  <div>
    <%if request.referrer == "http://localhost:3000/review"%>
      <%= link_to "#{tasks_path}", class: "text-nav" do %>
        <i class="fas fa-angle-double-right"></i>
      <% end %>
    <%else%>
      <%= link_to review_path, class: "text-nav" do %>
        <i class="fas fa-angle-double-right"></i>
      <% end %>
    <%end%>
  </div>
</div>
