<div class="nav-centrage fixed-bottom">
  <div>
    <%= link_to profile_path do %>
      <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><path d="m6.5 7.5h4l-6 9v-6.997l-4-.003 6-9z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 2)"/></svg>
    <% end %>
  </div>
  <div class="add-button-navbar">
    <%= link_to tasks_path, class: "btn add-button" do %>
      <i class="fas fa-home bloc-icon "></i>
    <% end %>
  </div>
  <div>
    <%= link_to review_path, class: "text-nav" do %>
    <i class="fas fa-angle-double-right"></i>
    <% end %>
  </div>
</div>
