<div class="nav-centrage fixed-bottom">
  <div>
    <%= link_to profile_path do %>
      <i class="fas fa-chart-area bloc-icon icon-color"></i>
    <% end %>
  </div>
  <div class="add-button-navbar">
    <%= link_to new_task_path, class: "btn add-button" do %>
      <i class="fas fa-plus "></i>
    <% end %>
  </div>
  <div>
    <%= link_to "Next day", new_user_registration_path, class: "text-nav"%>
  </div>
</div>
