<div class="nav-centrage fixed-bottom">
  <div class="add-button-navbar">
    <div class="btn add-button" data-task-form-target="button" data-path=<%= new_task_path %>  data-action="click->task-form#toggleForm">
      <i class="fas fa-plus "></i>
    </div>
    <div class="task-form-container" data-task-form-target="formContainer"></div>
  </div>
</div>


<%#= render "new_task_form", task: Task.new %>
