.add-button {
  border-radius: 4px;
  height: 60px;
  width: 85vw;
  background-color: $purple;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: $white;
  z-index: 0;
  margin: 0 auto;
  &.next-day {
    font-size: 18px;
    border: none;
    bottom: 24px;
  }
  &.form-submit-btn {
    margin-top: 1em;
    font-size: 1.6em;
  }
}


.btn-ghost {
  color: $white;
  background-color: $purple;
  margin-top: 15px;
  border: 1px solid $purple;
  padding: 16px 34px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  font-weight: 500;
  font-size: 18px;
}

.btn-ghost:hover {
  opacity: 1;
}
