.navbar-lewagon {
  background: $midnight;
  height: 50px;
  margin-bottom: 7px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.text-calendar {
  color: $white;
  font-weight: bold;
  font-size: 24px;
}

.navbar-position {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
}


.item-navbar {
  background-color: $midnight;
  color:white ;
}


.dropdown-menu-pad{
  padding: none;
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  margin: 0;
  font-size: 1rem;
  color: $white;
  text-align: left;
  list-style: none;
  background-color: $midnight;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
