.navbar-lewagon {
  justify-content: space-between;
  background: $midnight;
  height: 50px;
  margin-bottom: 7px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.text-nav-top {
  display: flex;
  justify-content: center;
  color: $white;
  font-weight: bold;
}
