.achievement {
    font-weight: 900;
    background: $purple;
    padding: 2px 4px;
    border-radius: 4px;
}

.logo-calendar {
    position: absolute;
    top: 0px;
    right: 5.5px;
    font-size: 20px;
}
