.list-box {
  width: 90%;
  margin: 0px auto;
}

.check-box {
}
.task-box {
  width: 90%;
  box-shadow: 5px 5px 5px black;
  margin: 15px;
  padding: 10px;
  background-color: antiquewhite;
  text-align: left;
}
