.task-box {
  width: 100%;
  margin: 4px auto;
  padding: 4px;
  background-color: $midnight;
  text-align: left;
  svg.active {
    fill: $yellow;
    path {
      stroke: $yellow
    }
  }
  .form-check {
    padding-left: 0;
  }
}

.edit-task-form-container {
  width: 83%;
  right: 9%;
  bottom: 95px;
  z-index: 1;
}

/// Effect on markAsDone

.mark_done_grey {
  animation: opacity_down 350ms ease-in forwards;
}

@keyframes opacity_down {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
