<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <p>Welcome <%= @email %>!</p>

        <p>You can confirm your account email through the link below:</p>

        <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
     </div>
    </div>
  </div>
</div>
